

{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}



{% block content %}

<div class="carousel-item active">
    <img src="https://www.shutterstock.com/image-photo/georgetown-washington-dc-usa-skyline-on-2079406192" class="d-block w-100" alt="...">
</div>

    <h1><p><center>About Us</center></p></h1>

    <p> 
        <center>
            Welcome to our housing hub designed exclusively for the vibrant community of Georgetown University students! Our mission is to simplify the daunting task of finding the perfect housing accommodations in and around the Georgetown area.
            Whether you're looking for a new place to call home or eager to share insights about your current housing situation, our platform is your go-to resource. 
            We empower students by offering a seamless interface to explore available housing options and enable easy submissions to update details about your residence. Our goal is to foster a connected and informed community, ensuring that every student finds their ideal housing match hassle-free. 
            Join us in enhancing your Georgetown experience with convenient and tailored housing solutions!
        </center>
    </p>


{% endblock %}