{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container mt-5">

    <div class="position-relative mt-4 text-center">
        <img src="https://cdn.vox-cdn.com/thumbor/EYCxkN9iKw3RrsWotwfftMXGQZ8=/0x0:5000x3750/1200x900/filters:focal(0x0:5000x3750)/cdn.vox-cdn.com/uploads/chorus_image/image/54199619/shutterstock_522513271.0.jpg"
            class="img-fluid rounded" alt="...">
        
        
        <div class="position-absolute top-50 start-50 translate-middle p-5 bg-white border border-dark rounded text-dark">
            
            <p class="fw-bold" style="font-size: 24px; color: #041E42;">
                Welcome to our housing hub designed exclusively for the vibrant community of Georgetown University students!
            </p>

            
            <h2 class="fw-bold text-primary" >Our Mission</h2>

            
            <p class="border border-dark p-3" style="font-size: 18px;">
                Our mission is to simplify the daunting task of finding the perfect housing accommodations in and around the Georgetown area.
                
                <span class="fw-bold">Join us in enhancing your Georgetown experience with convenient and tailored housing solutions!</span>
            </p>

            
            <h2 class="fw-bold text-primary">Our Solution</h2>

            
            <p style="font-size: 18px;">
                Whether you're looking for a new place to call home or eager to share insights about your current housing situation, our platform is your go-to resource.
                We empower students by offering a seamless interface to explore available housing options and enable easy submissions to update details about your residence.
                Our goal is to foster a connected and informed community, ensuring that every student finds their ideal housing match hassle-free.
            </p>
            <p class = "fw-bold" style="font-size: 18px;" >
                Whether you're looking for a new place to call home or eager to share insights about your current housing situation, our platform is your go-to resource.
            </p>
        </div>
    </div>
</div>

{% endblock %}
