{% extends "bootstrap_5_layout.html" %}
{% set active_page = "filtered_data" %}
{% set tab_title = "Search Results" %}

{% macro custom_display_name(key) %}
    {% if key == 'apt-num' %}
        Apartment Number
    {% elif key == 'single-num' %}
        Number of Single Rooms
    {% elif key == 'double-num' %}
        Number of Double Rooms
    {% elif key == 'bathroom-num' %}
        Number of Bathrooms
    {% else %}
        {{ key | capitalize }}
    {% endif %}
{% endmacro %}

{% block content %}
 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <title>Property Information</title>
    </head>

    <body>
        <div class="container mt-5">
            {% for result in data %}
                <div class="result-container mt-4 p-3 rounded" style="border: 1px solid #041E42; border-radius: 10px;">
                    <div class="row">
                        {% set header_value = None %}
                        <div class="col-md-12" style="background-color: #041E42; color: #a3a5a8; text-align: center; font-weight: bold; padding: 8px; margin-bottom: 12px;">
                            <h4> Address: {{ result['address'] }} </h4>
                        </div>
                        {% for key, value in result.items() %}
                            {% if loop.index > 3 and key != 'comments' %}
                                <div class="col-md-4">
                                    <p style="font-size: 18px;" ><strong>{{ custom_display_name(key) }}:</strong> {{ value }}</p>
                                </div>
                                {% if loop.index % 3 == 0 %}
                                    </div><div class="row">
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if result['comments'] %}
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <p><strong>Comments:</strong> {{ result['comments'] }}</p>
                            </div>
                        </div>
                
                    {% endif %}
                    <div class="result-container mt-4 p-3 rounded d-flex justify-content-center align-items-center">
                        <div class="text-center">
                            <p style="font-size: 20px; text-decoration: underline;"><strong>Street View:</strong></p>
                            {% set current_index = loop.index0 %}
                            <img src="{{ street_view_data[current_index]['street_view_url'] }}" alt="Street View"  style="width: 100%; max-width: 700px; height: auto;">
                            <p style="font-size: 14px; margin-top: 8px;">Due to some issues with Street View, please disregard the picture if it doesn't show a house...</p>
                        </div>
                    </div>                                                       
                </div>
            {% endfor %}
        </div>
    </body>
{% endblock %}
