
<p>
    <label for="neighbourhood"> Neighbourhood:</label>
    <select name="neighbourhood" id="neighbourhood">
        <option value="west-georgetown">West Georgetown</option>
        <option value="burleith">Burleith</option>
        <option value="arlington">Arlington</option>
        <option value="glover">Glover Park</option>
    </select>
    </p>

    <p>
        <label for="type"> Accomodation type:</label>
        <select name="type" id="type">
            <option value="house">House</option>
            <option value="apt">Apartment</option>
        </select>
        </p>


<p>
<label for="single-num"> Number of single rooms:</label>
<select name="single-num" id="single-num">
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
</p>

<p>
    <label for="double-num"> Number of double rooms:</label>
    <select name="double-num" id="double-num">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    </p>

<p>
<label for="bathroom-num"> Number of bathrooms:</label>
<select name="bathroom-num" id="bathroom-num">
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4+">Four+</option>
</select>
</p>

<p>
<label for="patio"> Outside patio required?:</label>
<select name="patio" id="patio">
    <option value="Y">Yes</option>
    <option value="N">No</option>
</select>
</p>

<p>
    <label for="parking"> Parking spots required:</label>
    <select name="parking" id="parking">
        <option value="Y">Yes</option>
        <option value="N">No</option>
    </select>
    </p>

<form id="form">
    <div>
        <button class="btn btn-success" type="submit">Submit</button>
    </div>
</form>